myenv/

*.csv

forward_index_output/

inverse_index_output/

lexicon_output/

.vscode

forward_index_output/forward_index_batch_0.json
inverse_index_output/barrel_0.json
inverse_index_output/barrel_1.json
inverse_index_output/barrel_2.json
inverse_index_output/barrel_3.json
inverse_index_output/barrel_4.json
inverse_index_output/barrel_5.json
inverse_index_output/barrel_6.json
inverse_index_output/barrel_7.json
inverse_index_output/barrel_8.json
inverse_index_output/barrel_9.json
inverse_index_output/barrel_10.json
inverse_index_output/barrel_11.json
inverse_index_output/barrel_12.json
inverse_index_output/barrel_13.json
inverse_index_output/barrel_14.json
inverse_index_output/barrel_15.json
inverse_index_output/barrel_16.json
inverse_index_output/barrel_17.json
inverse_index_output/barrel_18.json
inverse_index_output/barrel_19.json
inverse_index_output/barrel_20.json
inverse_index_output/barrel_21.json
inverse_index_output/barrel_22.json
inverse_index_output/barrel_23.json
inverse_index_output/barrel_24.json
inverse_index_output/barrel_25.json
inverse_index_output/barrel_26.json
inverse_index_output/barrel_27.json
inverse_index_output/barrel_28.json
inverse_index_output/barrel_29.json
inverse_index_output/barrel_30.json
inverse_index_output/barrel_31.json
inverse_index_output/barrel_32.json
inverse_index_output/barrel_33.json
inverse_index_output/barrel_34.json
inverse_index_output/barrel_35.json
inverse_index_output/barrel_36.json
inverse_index_output/barrel_37.json
inverse_index_output/barrel_38.json
inverse_index_output/barrel_39.json
inverse_index_output/barrel_40.json
inverse_index_output/barrel_41.json
inverse_index_output/barrel_42.json
inverse_index_output/barrel_43.json
inverse_index_output/barrel_44.json
inverse_index_output/barrel_45.json
inverse_index_output/barrel_46.json
inverse_index_output/barrel_47.json
inverse_index_output/barrel_48.json
inverse_index_output/barrel_49.json
inverse_index_output/barrel_50.json
inverse_index_output/barrel_51.json
inverse_index_output/barrel_52.json
inverse_index_output/barrel_53.json
inverse_index_output/barrel_54.json
inverse_index_output/barrel_55.json
inverse_index_output/barrel_56.json
inverse_index_output/barrel_57.json
inverse_index_output/barrel_58.json
inverse_index_output/barrel_59.json
inverse_index_output/barrel_60.json
inverse_index_output/barrel_61.json
inverse_index_output/barrel_62.json
inverse_index_output/barrel_63.json
inverse_index_output/barrel_64.json
inverse_index_output/barrel_65.json
inverse_index_output/barrel_66.json
inverse_index_output/barrel_67.json
inverse_index_output/barrel_68.json
inverse_index_output/barrel_69.json
inverse_index_output/barrel_70.json
inverse_index_output/barrel_71.json
inverse_index_output/barrel_72.json
inverse_index_output/barrel_73.json
inverse_index_output/barrel_74.json
inverse_index_output/barrel_75.json
inverse_index_output/barrel_76.json
inverse_index_output/barrel_77.json
inverse_index_output/barrel_78.json
inverse_index_output/barrel_79.json
inverse_index_output/barrel_80.json
inverse_index_output/barrel_81.json
inverse_index_output/barrel_82.json
inverse_index_output/barrel_83.json
inverse_index_output/barrel_84.json
inverse_index_output/barrel_85.json
inverse_index_output/barrel_86.json
inverse_index_output/barrel_87.json
inverse_index_output/barrel_88.json
inverse_index_output/barrel_89.json
inverse_index_output/barrel_90.json
inverse_index_output/barrel_91.json
inverse_index_output/barrel_92.json
inverse_index_output/barrel_93.json
inverse_index_output/barrel_94.json
inverse_index_output/barrel_95.json
inverse_index_output/barrel_96.json
inverse_index_output/barrel_97.json
inverse_index_output/barrel_98.json
inverse_index_output/barrel_99.json
inverse_index_output/barrel_100.json
inverse_index_output/barrel_101.json
inverse_index_output/barrel_102.json
inverse_index_output/barrel_103.json
inverse_index_output/barrel_104.json
inverse_index_output/barrel_105.json
inverse_index_output/barrel_106.json
inverse_index_output/barrel_107.json
inverse_index_output/barrel_108.json
inverse_index_output/barrel_109.json
inverse_index_output/barrel_110.json
inverse_index_output/barrel_111.json
inverse_index_output/barrel_112.json
inverse_index_output/barrel_113.json
inverse_index_output/barrel_114.json
inverse_index_output/barrel_115.json
inverse_index_output/barrel_116.json
inverse_index_output/barrel_117.json
inverse_index_output/barrel_118.json
inverse_index_output/barrel_119.json
inverse_index_output/barrel_120.json
inverse_index_output/barrel_121.json
inverse_index_output/barrel_122.json
inverse_index_output/barrel_123.json
inverse_index_output/barrel_124.json
inverse_index_output/barrel_125.json
inverse_index_output/barrel_126.json
inverse_index_output/barrel_127.json
inverse_index_output/barrel_128.json
inverse_index_output/barrel_129.json
inverse_index_output/barrel_130.json
inverse_index_output/barrel_131.json
inverse_index_output/barrel_132.json
inverse_index_output/barrel_133.json
inverse_index_output/barrel_134.json
inverse_index_output/barrel_135.json
inverse_index_output/barrel_136.json
inverse_index_output/barrel_137.json
inverse_index_output/barrel_138.json
inverse_index_output/barrel_139.json
inverse_index_output/barrel_140.json
inverse_index_output/barrel_141.json
inverse_index_output/barrel_142.json
inverse_index_output/barrel_143.json
inverse_index_output/barrel_144.json
inverse_index_output/barrel_145.json
inverse_index_output/barrel_146.json
inverse_index_output/barrel_147.json
inverse_index_output/barrel_148.json
inverse_index_output/barrel_149.json
inverse_index_output/barrel_150.json
inverse_index_output/barrel_151.json
inverse_index_output/barrel_152.json
inverse_index_output/barrel_153.json
inverse_index_output/barrel_154.json
inverse_index_output/barrel_155.json
inverse_index_output/barrel_156.json
inverse_index_output/barrel_157.json
inverse_index_output/barrel_158.json
inverse_index_output/barrel_159.json
inverse_index_output/barrel_160.json
inverse_index_output/barrel_161.json
inverse_index_output/barrel_162.json
inverse_index_output/barrel_163.json
inverse_index_output/barrel_164.json
inverse_index_output/barrel_165.json
inverse_index_output/barrel_166.json
inverse_index_output/barrel_167.json
inverse_index_output/barrel_168.json
inverse_index_output/barrel_169.json
inverse_index_output/barrel_170.json
inverse_index_output/barrel_171.json
inverse_index_output/barrel_172.json
inverse_index_output/barrel_173.json
inverse_index_output/barrel_174.json
inverse_index_output/barrel_175.json
inverse_index_output/barrel_176.json
inverse_index_output/barrel_177.json
inverse_index_output/barrel_178.json
inverse_index_output/barrel_179.json
inverse_index_output/barrel_180.json
inverse_index_output/barrel_181.json
inverse_index_output/barrel_182.json
inverse_index_output/barrel_183.json
inverse_index_output/barrel_184.json
inverse_index_output/barrel_185.json
inverse_index_output/barrel_186.json
inverse_index_output/barrel_187.json
inverse_index_output/barrel_188.json
inverse_index_output/barrel_189.json
inverse_index_output/barrel_190.json
inverse_index_output/barrel_191.json
inverse_index_output/barrel_192.json
inverse_index_output/barrel_193.json
inverse_index_output/barrel_194.json
inverse_index_output/barrel_195.json
inverse_index_output/barrel_196.json
inverse_index_output/barrel_197.json
inverse_index_output/barrel_198.json
inverse_index_output/barrel_199.json
inverse_index_output/barrel_200.json
inverse_index_output/barrel_201.json
inverse_index_output/barrel_202.json
inverse_index_output/barrel_203.json
inverse_index_output/barrel_204.json
inverse_index_output/barrel_205.json
inverse_index_output/barrel_206.json
inverse_index_output/barrel_207.json
inverse_index_output/barrel_208.json
inverse_index_output/barrel_209.json
inverse_index_output/barrel_210.json
inverse_index_output/barrel_211.json
inverse_index_output/barrel_212.json
inverse_index_output/barrel_213.json
inverse_index_output/barrel_214.json
inverse_index_output/barrel_215.json
inverse_index_output/barrel_216.json
inverse_index_output/barrel_217.json
inverse_index_output/barrel_218.json
inverse_index_output/barrel_219.json
inverse_index_output/barrel_220.json
inverse_index_output/barrel_221.json
inverse_index_output/barrel_222.json
inverse_index_output/barrel_223.json
inverse_index_output/barrel_224.json
inverse_index_output/barrel_225.json
inverse_index_output/barrel_226.json
inverse_index_output/barrel_227.json
inverse_index_output/barrel_228.json
inverse_index_output/barrel_229.json
inverse_index_output/barrel_230.json
inverse_index_output/barrel_231.json
inverse_index_output/barrel_232.json
inverse_index_output/barrel_233.json
inverse_index_output/barrel_234.json
inverse_index_output/barrel_235.json
inverse_index_output/barrel_236.json
inverse_index_output/barrel_237.json
inverse_index_output/barrel_238.json
inverse_index_output/barrel_239.json
inverse_index_output/barrel_240.json
inverse_index_output/barrel_241.json
inverse_index_output/barrel_242.json
inverse_index_output/barrel_243.json
inverse_index_output/barrel_244.json
inverse_index_output/barrel_245.json
inverse_index_output/barrel_246.json
inverse_index_output/barrel_247.json
inverse_index_output/barrel_248.json
inverse_index_output/barrel_249.json
inverse_index_output/barrel_250.json
inverse_index_output/barrel_251.json
inverse_index_output/barrel_252.json
inverse_index_output/barrel_253.json
inverse_index_output/barrel_254.json
inverse_index_output/barrel_255.json
lexicon_output/lexicon.json
lexicon_output/word_statistics.json
